<h1><%= name %></h1>

<form class="add-task <%= name %>">
  <input type="text" name="title" class="task-title" placeholder="Add <%= name %>">

  <span class="add btn glyphicon glyphicon-plus"></span>
</form>

<ul class="list-group task-list <%= name %>">

</ul>
