<div class="item" data-toggle="tooltip" data-placement="top" title="<%= model.get('description') %>">
  <span class="checks">
    <span class="check glyphicon"></span>
    <span class="minus glyphicon glyphicon-minus hide"></span>
  </span>
  <span class="title">
    <span class="editable"><%= model.get('title') %></span>
  </span>
  <span class="edit glyphicon glyphicon-pencil"></span>
</div>

<div>
  <div class="icons">
    <span class="del glyphicon glyphicon-trash"></span>
    <span class="save glyphicon glyphicon-ok"></span>
  </div>

  <div class="options">
    <input type="text" class="description" value="<%= model.get('description') %>" placeholder="description">
  </div>
</div>
