<div class="item">
  <span class="check btn glyphicon"></span>
  <span class="minus btn glyphicon glyphicon-minus hide"></span>
  <span class="editable"><%= model.get('title') %></span>
  <span class="edit glyphicon glyphicon-pencil"></span>
</div>

<div>
  <div class="icons">
    <span class="del glyphicon glyphicon-trash"></span>
    <span class="save glyphicon glyphicon-ok"></span>
  </div>
</div>
