<div class="item tip" data-tip="<%= task.escape('description') ? task.escape('description') : "" %>">
  <span class="checks">
    <span class="check glyphicon"><%= task.get("cost") ? ( "-" + task.get("cost")) : ''%></span>
    <span class="minus glyphicon glyphicon-minus hide"></span>
  </span>
  <div class="title">
    <span class="editable"><%= task.escape('title') %></span>
  </div>
  <span class="edit glyphicon glyphicon-pencil"></span>
  <span class="graph glyphicon glyphicon-stats"></span>
</div>

<div class="item-box">

</div>
