// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.details, .details small {
  float: left;
  color: #66FF99;
}

.bars {
  width: 200px;
  float: left;
}

.task-box {
  padding: 5px;
}

.task-box .inner {
  background-color: #eee;
  border-radius: 3px;
  padding: 10px;
}

.task-box h1 {
  margin-top: 5px;
}

.task.task-shadow {
  background: black;
  opacity: 0.2;
}

.task {
  cursor: move;
}

.task .edit {
  visibility: hidden;
}

.task:hover .edit {
  visibility: visible;
  cursor: pointer;
  float: right;
}

.check, .minus {
  opacity: 0.3;
}

.check:hover, .minus:hover {
  opacity: 1.0;
}

.task-lists {
  float: left;
}

.popups {
  position: absolute;
  top: 70px;
  right: 30px;
  list-style-type: none;
  width: 200px;
  z-index: 20;
}

.popup {
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  width: 100%;
  box-shadow: 1px 1px 1px rgba(34, 36, 34, 0.4);
}

.popup.gold {
  background: rgba(194, 194, 30, 0.8);
}

.popup.health {
  background: rgba(221, 64, 64, 0.8);
}

.popup.xp {
  background: rgba(130, 66, 193, 0.8);
}

.popup.level {
  background: rgba(23, 149, 23, 0.8);
}

.icons > * {
  float: right;
  cursor: pointer;
}

body {
  background-image: asset-data-url("bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.form {
  position: relative;
  top: 50%;
  transform: translateY(50%);
  margin: auto;
  background: rgba(100,100,100,.5);
  width: 400px;
  padding: 20px;
  color: #66FF99;
}
