// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.plus-minus, .cost {
  display: none;
}

.habit .plus-minus, .reward .cost{
  display: block;
}

.plus-minus > .btn {
  opacity: 0.3;
  background: rgba(100,100,100,.2);
}

.plus-minus > .btn:hover, .plus-minus > .btn.selected{
  opacity: 1.0;
  background: rgba(100,100,100,.2);
}

.task-tags {
  list-style-type: none;
}

.tags{
  clear: left;
}

.tags .delete {
  cursor: pointer;
}

.tags .tag.delete {
  background: rgba(169, 68, 66, .9);
}

.tags .tag {
  background: rgba(102, 255, 153, .5);
  margin: 3px;
  border-radius: 4px;
  color: black;
  cursor: pointer;
}
.tag.active {
  background: rgba(102, 255, 153, .9);
}

.tags *{
  color: #66FF99;
  list-style-type: none;
  float: left;
  padding: 4px;
  margin-top: -3px;
}

.new-tag-form {
  float: left;
  background: rgba(100,100,100, .5);
  border-radius: 3px;
}

.new-tag-form .name {
  background: transparent;
  border: none;
  margin-top: 1px;
}

.new-tag-form .name:focus{
  outline: none;
}

.new-tag{
  cursor: pointer;
  margin-top: 1px;
}

.item-box {
  border-top: 1px solid #dddddd;
  margin-top: 10px;
  padding-top: 10px;
  min-height: 300px;
}

.habit .item-box, .reward .item-box{
  height: 400px;
}

.todo .graph {
  display: none;
}

.bars {
  width: 200px;
  float: left;
  margin-left: 40px;
}

.stat-icon{
  float: left;
  padding-right: 5px;
  font-size: 14px;
}

.stat-icon.health {
  color: #d9534f;
}
.stat-icon.xp {
  color: #f0ad4e;
}

.money {
  color: #E3C832;
}

.coins{
  content: asset-data-url("Gold.png");
  float: left;
  margin-right: 7px;
}

.details, .details small{
  float: left;
  color: #66FF99;
}

.btn.add {
  margin-top: -1px;
}

.checks > span{
  opacity: 0.3;
  border: 1px solid #aaa;
  height: 100%;
  width: 100%;
  padding: 5px;
  vertical-align: middle;
  text-align: center;
  padding-top: 18px;
  background: rgba(100,100,100,.2)
}
.checks {
  float: left;
  height: 50px;
  width: 50px;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  margin-top: -11px;
  margin-left: -15px;
}
.checks > *:hover {
  opacity: 1.0;
  background: rgba(100,100,100,.2);
}
.checks.gb > span {
  height: 50%;
  padding-top: 5px;
}

.check .coins{
  height: 20px;
  width: auto;
  float: left;
  margin-top: -5px;
}
.reward .check {
  float: left;
  font-size: 18px;
  line-height: 10px;
  font-weight: bold;
}

.reward .checks {
  width: 70px;
}

.item {
  min-height: 30px;
  cursor: move;
}

.title {
  float: left;
  line-height: 28px;
  padding-left: 10px;
  width: 125px;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.task-box {
  padding: 5px;
}

.task-box .inner {
  background-color: #eee;
  border-radius: 3px;
  padding: 10px;
  opacity: .9;
}

.task-box h1 {
  margin-top: 5px;
}

.task.task-shadow {
  background: black;
  opacity: 0.2;
}

.task {
  margin-top: 5px;
}

.task .edit, .task .graph{
  visibility: hidden;
  margin: 0 5px;
  float: right;
}

.task:hover .edit, .task:hover .graph{
  visibility: visible;
  cursor: pointer;
}

.task-lists {
  float: left;
}

.popups {
  position: absolute;
  top: 70px;
  right: 30px;
  list-style-type: none;
  width: 200px;
  z-index: 20;
}

.popups .ui-effects-wrapper .popup {
  width: 100% !important;
  height: 30px !important;
  // margin: 5px 0 !important;
}

.ui-effects-wrapper{
  height: 30px !important;
}

.popup {
  padding: 5px;
  border-radius: 3px;
  width: 100%;
  box-shadow: 1px 1px 1px rgba(34, 36, 34, 0.4);
  margin: 5px 0;
}

.popup.gold {
  background: rgba(194, 194, 30, 0.8);
}

.popup.health {
  background: rgba(221, 64, 64, 0.8);
}

.popup.xp {
  background: rgba(130, 66, 193, 0.8);
}

.popup.level {
  background: rgba(23, 149, 23, 0.8);
}

.icons > * {
  float: right;
  cursor: pointer;
}

body {
  background-image: asset-data-url("bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.form {
  position: relative;
  top: 50%;
  transform: translateY(25%);
  margin: auto;
  background: rgba(100,100,100,.5);
  width: 420px;
  padding: 20px;
}

.form img{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
}

li.list-group-item-primary {
  background: #B6D6E3;
}

.btn-guest{
  position: relative;
  float: right;
}

.btn-play, .btn-sign {
  float: left;
}

.btn-sign{
  margin-left: 2px;
}

.btns {
  height: 40px;
}

.editable {
  cursor: pointer;
}

.header .navbar {
  background: rgba(100,100,100,.5);
  color: #66FF99;
  border: none;
}

.navbar .nav.navbar-nav li a{
  background: transparent;
  color: #66FF99;
}

.navbar .nav.navbar-nav li a:hover{
  background: rgba(100,100,100,.5);
  color: #66FF99;
}

.navbar .nav.navbar-nav li.active a{
  background: rgba(100,100,100,.5);
  color: #66FF99;
}

.navbar .logo{
  content: asset-data-url("logoHead.png");
  height: 130%;
  width: auto;
}

/*MORPH*/
.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.tilt:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}
