
<div class="navbar-header">
    <a class="navbar-brand" href="#">Gamify</a>
</div>
<ul class="nav navbar-nav">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="session" method="DELETE">Logout</a></li>
</ul>
