<form class="new-tag-form">
  <input type="text" class="name" name="tag[name]" placeholder="add new tag">
  <span class="new-tag glyphicon glyphicon-plus"></span>
</form>

<ul class="tags-list"></ul>

<span class="delete glyphicon glyphicon-trash"></span>
